html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: "Lato", sans-serif;
}
button {
    display: block;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    display: block;
}
.container {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}
.navbar_items {
    min-height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_items_left {
    display: flex;
}
.navbar_items_left ul {
    display: flex;
    gap: 71px;
}
.navbar_items_left ul li a {
    color: #292929;
    font-weight: 500;
    font-size: 20px;
}
.navbar_items_left ul li a:hover {
    opacity: 0.6;
    color: #01996D;
    transition: all 150ms linear;
}
.navbar_img {
    width: 80px;
    height: 23px;
    margin-right: 175px;
}
.navbar_items_right {
    display: flex;
    gap: 35px;
    justify-content: baseline;
}
.navbar_p {
    font-weight: 400;
    font-size: 20px;
    color: #000;
}
.navbar_btn {
    width: 184px;
    height: 54px;
    border-radius: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #fff;
    background-color: #01996D;
    border: none;
    margin-top: 6px;
    cursor: pointer;
}
.navbar_btn:hover {
    background-color: #245852;
    transition: all 100ms ease;
}


/* Header */
.header h1 {
    font-size: 65px;
    font-weight: bold;
    font-family: 'Georgia', serif;
    max-width: 440px;
    color: #01996D;
    margin-top: 0;
    margin-right: 0;
    padding-top: 175px;
}
.header p {
    font-size: 20px;
    font-weight: 400;
    line-height: 157%;
    max-width: 420px;
    color: #484848;
    height: 123px;
    margin-bottom: 18px;
}
.header {
    min-height: 895px;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header button {
    width: 227px;
    height: 65px;
    background-color: #01996D;
    border: none;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.header button:hover {
    background-color: #245852;
    transition: all 100ms ease;
}




/* Footer */
.footer {
    background-color: #245852;
    padding-top: 95px;
    padding-bottom: 145px;
}
.footer ul li a {
    font-size: 25px;
    color: #fff;
}
.footer ul li a:hover {
    opacity: 0.6;
    color: #01996D;
    transition: all 150ms linear;
}
.footer ul li {
    margin-bottom: 60px;
}
.footer ul li:last-child {
    margin-bottom: 0;
}
.footer .logo {
    margin-bottom: 60px;
}
@media screen and (max-width:1120px) {
    .navbar_items_left ul {
        gap: 30px;
        border-left: 1px solid #01996D;
        border-right: 1px solid #01996D;
    }
    .navbar_items_left ul li:first-child {
        padding-left: 5px;
    }
    .navbar_items_left ul li:last-child {
        margin-right: 5px;
    }
    .navbar_img {
        margin-right: 70px;
    }
}
@media screen and (max-width:876px) {
    .navbar_img {
        margin-right: 40px;
    }
    .navbar_btn {
        width: 120px;
        font-size: 18px;
    }
}
@media screen and (max-width:876px) {
    .navbar_items {
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (max-width:600px) {
    .navbar_items_left {
        flex-direction: column;
        gap: 20px;
    }
    .navbar_img {
        margin: 0 auto;
    }
}
@media screen and (max-width:600px) {
    .navbar_items_left ul {
        flex-direction: column;
        border: none;
    }
}
@media screen and (max-width:380px) {
    .header h1 {
        font-size: 40px;
        text-align: center;
    }
    .header p {
        margin-bottom: 100px;
        text-align: center;
    }
    .header button {
        width: 160px;
        height: 50px;
        font-size: 16px;
        margin: 0 auto;
    }
}