html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: "Lato", sans-serif;
}
button {
    display: block;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    display: block;
}
.container {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}
.navbar_items {
    min-height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_items_left {
    display: flex;
}
.navbar_items_left ul {
    display: flex;
    gap: 71px;
}
.navbar_items_left ul li a {
    color: #292929;
    font-weight: 500;
    font-size: 20px;
}
.navbar_items_left ul li a:hover {
    opacity: 0.6;
    color: #01996D;
    transition: all 150ms linear;
}
.navbar_img {
    width: 80px;
    height: 23px;
    margin-right: 175px;
}
.navbar_items_right {
    display: flex;
    gap: 35px;
    justify-content: baseline;
}
.navbar_p {
    font-weight: 400;
    font-size: 20px;
    color: #000;
}
.navbar_btn {
    width: 184px;
    height: 54px;
    border-radius: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #fff;
    background-color: #01996D;
    border: none;
    margin-top: 6px;
    cursor: pointer;
}
.navbar_btn:hover {
    background-color: #245852;
    transition: all 100ms ease;
}


/* Header */
.header h1 {
    font-size: 65px;
    font-weight: bold;
    font-family: 'Georgia', serif;
    max-width: 440px;
    color: #01996D;
    margin-top: 0;
    margin-right: 0;
    padding-top: 175px;
}
.header p {
    font-size: 20px;
    font-weight: 400;
    line-height: 157%;
    max-width: 420px;
    color: #484848;
    height: 123px;
    margin-bottom: 18px;
}
.header {
    min-height: 895px;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header button {
    width: 227px;
    height: 65px;
    background-color: #01996D;
    border: none;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.header button:hover {
    background-color: #245852;
    transition: all 100ms ease;
}

/* Work */
.work_h5  {
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;
    color: #424242;
    margin: 0;
    padding-top: 175px;
}
.work_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 140px;
}
.work_h2 {
    font-family: 'Georgia', serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996d;
    max-width: 584px;
    width: 100%;
    margin: 0;
}
.work_text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #424242;
}

.photos {
    
}
.photos_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 95px;
}
.photos_item {

}
.sota1 {
    padding-bottom: 253px;
}
.sota2 {
    margin-top: 260px;
}
.sota3 {
    margin-top: 55px;
}
.text_together_1 {
    position: relative;
    width: 33%;
}
.photos_item_h2_1 {
    font-family: "Georgia", sans-serif;
    font-weight: 400;
    font-size: 150px;
    line-height: 150%;
    text-align: center;
    color: rgba(1, 153, 109, 0.2);
    margin-bottom: 0;
}
.photos_item_h4_1 {
    font-family: "Georgia", sans-serif;
    position: absolute;
    bottom: 7px;
    left: 88px;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    color: #000;
}
.text_together_2 {
    position: relative;
    width: 33%;
}
.photos_item_h2_2 {
    font-family: "Georgia", sans-serif;
    font-weight: 400;
    font-size: 150px;
    line-height: 150%;
    text-align: center;
    color: rgba(1, 153, 109, 0.2);
    margin-bottom: 0;
}
.photos_item_h4_2 {
    width: 243%;
    font-family: "Georgia", sans-serif;
    position: absolute;
    bottom: 5px;
    left: 80px;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    color: #000;
}
.text_together_3 {
    position: relative;
    width: 33%;
}
.photos_item_h2_3 {
    font-family: "Georgia", sans-serif;
    font-weight: 400;
    font-size: 150px;
    line-height: 150%;
    text-align: center;
    color: rgba(1, 153, 109, 0.2);
    margin-bottom: 0;
}
.photos_item_h4_3 {
    font-family: "Georgia", sans-serif;
    position: absolute;
    bottom: 3px;
    left: 125px;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    color: #000;
}
.photos_item_text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #424242;
}
.photos_together {
    position: relative;
}
.photos_item_img {
    max-width: 390px;
    width: 100%;
}
.photo_item_img_2 {
    position: absolute;
    top: 220px;
    left: 200px;
}
.photos_item_img {
    border-radius: 12px;
    max-width: 100%;
}



/* Footer */
.footer {
    background-color: #245852;
    padding-top: 95px;
    padding-bottom: 145px;
}
.footer ul li a {
    font-size: 25px;
    color: #fff;
}
.footer ul li a:hover {
    opacity: 0.6;
    color: #01996D;
    transition: all 150ms linear;
}
.footer ul li {
    margin-bottom: 60px;
}
.footer ul li:last-child {
    margin-bottom: 0;
}
.footer .logo {
    margin-bottom: 60px;
}
@media screen and (max-width:1420px) {
    .photos_items {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .photos_item_h2_1 , .photos_item_h2_2 , .photos_item_h2_3 {
        margin-top: 0;
    }
    .sota1, .sota2, .sota3 {
        margin-top: 0;  
        margin-bottom: 0;
    }
    .sota1 {
        padding-bottom: 0;
    }
    .sota3 {
        margin-bottom: 50px;
    }
    .photo_item_img_2 {
        height: 240px;
        width: 310px;
        left: 345px;
        top: 377px;
    }
}
@media screen and (max-width:1280px) {
    .photo_item_img_2 {
        height: 230px;
        width: 290px;
        left: 320px;
        top: 348px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
@media screen and (max-width:1120px) {
    .navbar_items_left ul {
        gap: 30px;
        border-left: 1px solid #01996D;
        border-right: 1px solid #01996D;
    }
    .navbar_items_left ul li:first-child {
        padding-left: 5px;
    }
    .navbar_items_left ul li:last-child {
        margin-right: 5px;
    }
    .navbar_img {
        margin-right: 70px;
    }
}
@media screen and (max-width:1280px) {
    .photo_item_img_2 {
        height: 180px;
        width: 228px;
        left: 255px;
        top: 275px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
@media screen and (max-width:932px) {
    .photo_item_img_2 {
        height: 160px;
        width: 206px;
        left: 230px;
        top: 250px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
@media screen and (max-width:876px) {
    .navbar_items {
        flex-direction: column;
        gap: 20px;
    }
    .navbar_img {
        margin-right: 40px;
    }
    .navbar_btn {
        width: 120px;
        font-size: 18px;
    }
    .photos_items {
        grid-template-columns: repeat(1, 1fr);
    }
    .photo_item_img_2 {
        height: 310px;
        width: 402px;
        left: 445px;
        top: 485px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
@media screen and (max-width:844px) {
    .photo_item_img_2 {
        height: 300px;
        width: 385px;
        left: 429px;
        top: 470px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
@media screen and (max-width:800px) {
    .photo_item_img_2 {
        height: 285px;
        width: 365px;
        left: 405px;
        top: 442px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
@media screen and (max-width:776px) {
    .work_grid {
        gap: 40px;
    }
}
@media screen and (max-width:720px) {
    .photo_item_img_2 {
        height: 250px;
        width: 325px;
        left: 365px;
        top: 400px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
@media screen and (max-width:640px) {
    .photo_item_img_2 {
        height: 225px;
        width: 285px;
        left: 325px;
        top: 350px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
@media screen and (max-width:600px) {
    .navbar_items_left {
        flex-direction: column;
        gap: 20px;
    }
    .navbar_items_left ul {
        flex-direction: column;
        border: none;
    }
    .navbar_img {
        margin: 0 auto;
    }
    .work_grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .work_h2 {
        font-size: 36px;
    }
}
@media screen and (max-width:576px) {
    .photo_item_img_2 {
        height: 200px;
        width: 256px;
        left: 290px;
        top: 315px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
@media screen and (max-width:480px) {
    .photo_item_img_2 {
        height: 163px;
        width: 210px;
        left: 240px;
        top: 260px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
@media screen and (max-width:430px) {
    .photo_item_img_2 {
        height: 147px;
        width: 188px;
        left: 212px;
        top: 230px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
@media screen and (max-width:410px) {
    .photos_item_h2_1 , .photos_item_h2_2 , .photos_item_h2_3 {
        font-size: 75px;
    }
    .photos_item_h4_1 , .photos_item_h4_2 , .photos_item_h4_3 {
        font-size: 15px;
    }
    .photos_item_h4_1 {
        left: 67px;
    }
    .photos_item_h4_2 {
        left: 0px;
    }
    .photos_item_h4_3 {
        left: 70px
    }
    .photo_item_img {
        
    }
}
@media screen and (max-width:390px) {
    .photo_item_img_2 {
        height: 130px;
        width: 170px;
        left: 190px;
        top: 209px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
@media screen and (max-width:380px) {
    .header h1 {
        font-size: 40px;
        text-align: center;
    }
    .header p {
        margin-bottom: 100px;
        text-align: center;
    }
    .header button {
        width: 160px;
        height: 50px;
        font-size: 16px;
        margin: 0 auto;
    }
}
@media screen and (max-width:320px) {
    .photo_item_img_2 {
        height: 100px;
        width: 135px;
        left: 155px;
        top: 170px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
@media screen and (max-width:300px) {
    .photo_item_img_2 {
        display: none;
    }
}